body {
  font-family: 'Roboto';
}

.header {
  margin-top: 15px;
}

.header.big{
  margin-top: 30px;
  border-bottom: 1px solid #9e9e9e;
}

.header__title-aditional-info {
  color: #424242;
  text-transform: capitalize;
  font-size: 16px;
}

.header__school-container {
  border-bottom: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
}

.--left-space{
  padding-left: 10px;
}

.--no-capital {
  text-transform: none;
}
.--bold{
  font-weight: bold;
}

.header__title-aditional-info--extra {
  margin-left: 5px;
  font-weight: bold;
  font-size: 10px;
}

.header__extra-info-container {
  margin: 15px 0px;
}



